*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    height: 80px;
    background-color: #ffcc06;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0rem ;
}
.logo{
    padding-left: 40px;
    font-style: italic;
    font-size: larger;
    font-weight: bold;
}
#last{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
#a{
    background-color: black;
    color:#ffcc06;
    margin: 0px;
    font-size: large;
    padding: 1rem 2rem 1rem 1.5rem ;
    margin-left: 10px;
    margin-top: 0.5%;
    border-radius: 30px;
    cursor: pointer;
}
#card{
    margin-right: 10rem;
}
#a:hover{
    background-color: white;
    color: black;
    transition-duration: 0.5s;
    /* transition-duration: 0.5s ;
    padding: 1.5rem 2rem 1.5rem 2rem; */
    /* animation: enlarge 0.5s  0.1s alternate ;
    animation-iteration-count : unset; */
}
#container{
    padding-left: 1%;
}
header a{
    color: black;
    text-decoration: none;
    padding: 0rem 1.5rem;
    font-size: large;
    transition-duration: 0.5s;
}
header a:hover{
    font-size: x-large;
    color: white;
    transition-duration: 0.5s;
}
footer{
    margin-top: 2rem;
    background-color: #191919;
    color:white;
    text-align: center;
}
main{
    background-color: #ffcc06;
}
#album py-5 bg-body-tertiary {
    background-color: #ffcc06;
    color: #ffcc06;
}
#d{
    background-color: #191919;
}
rect{
    background-image: url("bg1.png");
    background-size: cover;
}
.payment-container {
    max-width: 500px;
    height: 28rem;
    width: 19rem;
    margin: 50px auto;
    padding: 23px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.payment-container form {
    display: flex;
    flex-direction: column;
}

.payment-container label {
    margin-bottom: 8px;
}

.payment-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.payment-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.payment-container button:hover {
    background-color: #0056b3;
}

.payment-container button:active {
    background-color: #004080;
}